body, html {
    height: 100%;
    margin: 0;
}
#root {
    display: contents;
}
.sd-question.sd-question--table {
    background: white;
    padding: 0 40px 20px;
}

.sd-body.sd-body.sd-body--static {
    max-width: 922px;
}
.sd-body.sd-body.sd-body--static {
    max-width: 940px !important;
    margin: 30px auto 10px;
}

.sd-container-modern {
    max-width: 992px;
    margin: 20px auto;
    backdrop-filter: blur(15px);
    border-radius: 20px;
}
.sd-body.sd-body.sd-body--static {
    padding: 20px 0;
}