@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @keyframes slide {
    100% {
      background-position: 50px 0, 125px 25px;
    }
  }

  .my-hover:hover,
  .my-hover:hover > img {
    opacity: 0.95 !important;
  }
  .my-hover,
  .my-hover > img {
    opacity: 0.9;
    transition: opacity 0.1s ease;
  }
  .my-hover > .my-div {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
  .my-hover > .my-div > div * {
    cursor: default;
  }
  .my-hover > .my-div > div {
    opacity: 0;
    transform: translateY(50vh);
    transition: transform 0.4s ease-in, opacity 0.4s cubic-bezier(0, 1, 1, 1);
  }
  .my-hover:hover > .my-div > div {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.4s ease-out, opacity 0.4s cubic-bezier(1, 0, 1, 1);
  }
  .my-hover:hover > div {
    opacity: 1;
  }
  .my-hover ul {
    list-style-type: disc;
  }
  .my-hover li {
    margin-block: 10px;
  }

  main > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    padding-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    padding-bottom: calc(2rem * var(--tw-space-y-reverse));
  }
  main {
    @apply px-4 min-h-screen sm:px-0 w-full bg-gray-900;
    background-image: radial-gradient(
        hsla(0, 0%, 84.3%, 0.25) 1px,
        transparent 0
      ),
      radial-gradient(hsla(0, 0%, 84.3%, 0.1) 1px, transparent 0);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    -webkit-animation: slide 2s linear infinite;
    animation: slide 4s linear infinite;
  }
}
